{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Most Valuable Countries{% endblock %}

{% block body %}

    <h4>Best Buying Countries</h4>

    {% for country in bestCountries %}
        <p>
            <span>
                <a href="{{ path('country_detail', {'country' : country.country}) }}">{{ country.country }}</a>
            </span>
            :
            {% if country.nbOrders == 1 %}
                1 order
            {% else %}
                {{ country.nbOrders }} orders
            {% endif %}
            : €{{ country.totalAmount | number_format }} total
            (average : €{{ country.avgAmount | number_format }})
        </p>
    {% endfor %}

{% endblock %}
