{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Most Valuable Labels{% endblock %}

{% block body %}
    <h4>Best Selling Labels</h4>
        {% for bestLabel in bestLabels %}
            <p>
                <span>
                    <a href="{{ path('label_detail', {'label': bestLabel.label}) }}">
                    {{ bestLabel.label }}
                </a>
                </span>
                 :
                {% if bestLabel.nbItems == 1 %}
                    1 item
                {% else %}
                    {{ bestLabel.nbItems }} items
                {% endif %}
                , €{{ bestLabel.total | number_format }}
            </p>
        {% endfor %}
{% endblock %}

