{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <h2>my Discogs App - V2</h2>
    <br><h4>Latest Orders</h4>
    {% for order in orders %}
        <p>{{ order.orderNum }} by {{ order.buyer }} on {{ order.orderDate | date("d-m-Y") }}</p>
    {% endfor %}
    <br><h5>Most Expensive Sold Items</h5>
    {% for item in items %}
        <p>{{ item.title }}, {{ item.artist }} ({{ item.format }} - {{ item.label }}) : €{{ item.price| number_format }}</p>
    {% endfor %}
    {% if drafted %}
        <br><h5>Draft or Violation</h5>
            <table class="table table-sm table-hover table-striped">
                <thead class="thead-dark">
                <tr>
                    <th>Discogs Id</th>
                    <th>Catalog #</th>
                    <th>Band / Artist</th>
                    <th>Title</th>
                    <th>Label</th>
                    <th>Format</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for draft in drafted %}
                    <tr>
                        <td>{{ draft.listingId }}</td>
                        <td>{{ draft.catno }}</td>
                        <td>{{ draft.artist }}</td>
                        <td>{{ draft.title }}</td>
                        <td>{{ draft.label }}</td>
                        <td>{{ draft.format }}</td>
                        <td>€{{ draft.price | number_format }}</td>
                        <td>{{ draft.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endif %}
{% endblock %}

