{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <h4>Latest Orders</h4>
    {% for order in orders %}
        <h5>
            <a href="{{ path('order_detail', {'id' : order.id}) }}">
                {{ order.orderNum }}
            </a>
            by {{ order.buyer }}
            (<a href="{{ path('country_detail', {'country' : order.country}) }}">{{ order.country }}</a>)
            on {{ order.orderDate | date("d-m-Y") }} :
            {% if order.orderItems | length == 1 %}
                1 item
            {% else %}
                {{ order.orderItems | length }} items
            {% endif %}
            , €{{ order.total | number_format }}
        </h5>
    {% endfor %}
    {% if drafted %}
        <br>
        <h4>Draft or Violation</h4>
        <table class="table table-sm table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    Discogs Id
                </th>
                <th>
                    Catalog #
                </th>
                <th>
                    Band / Artist
                </th>
                <th>
                    Title
                </th>
                <th>
                    Label
                </th>
                <th>
                    Format
                </th>
                <th>
                    Price
                </th>
                <th>
                    Status
                </th>
            </tr>
            </thead>
            <tbody>
            {% for draft in drafted %}
                <tr>
                    <td>
                        {{ draft.listingId }}
                    </td>
                    <td>
                        {{ draft.catno }}
                    </td>
                    <td>
                        <a href="{{ path('artist_detail', {'artist': draft.artist}) }}">
                            {{ draft.artist }}
                        </a>
                    </td>
                    <td>
                        {{ draft.title }}
                    </td>
                    <td>
                        <a href="{{ path('label_detail', {'label': draft.label}) }}">
                            {{ draft.label }}
                        </a>
                    </td>
                    <td>
                        {{ draft.format }}
                    </td>
                    <td>
                        €{{ draft.price | number_format }}
                    </td>
                    <td>
                        {{ draft.status }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

