{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Home{% endblock %}

{% block body %}
    <h4>Latest Orders</h4>
    {% set latestOrders = orders.orders %}
    {% for order in latestOrders %}
        <h5>
            <a href="{{ path('order_detail', {'id' : order.id}) }}">
                {{ order.id }}
            </a>
            by {{ order.buyer.username }}
            {% if orderCountries[order.id] != null %}
                 ({{ orderCountries[order.id][0].country }})
            {% else %}
                <a href="{{ path('set_country', {'orderId' : order.id}) }}">(set country ?)</a>
            {% endif %}
            on {{ order.created | date("d-m-Y") }} :
            {% if order.items | length == 1 %}
                1 item
            {% else %}
                {{ order.items | length }} items
            {% endif %}
            , €{{ order.total.value }}
        </h5>
    {% endfor %}
    {% if drafted or violation %}
        {% set draftItems = drafted.listings %}
        {% set violationItems = violation.listings %}
        <br>
        <h4>Out of Shop</h4>
        <table class="table table-sm table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    Discogs Id
                </th>
                <th>
                    Catalog #
                </th>
                <th>
                    Band / Artist
                </th>
                <th>
                    Title
                </th>
                <th>
                    Format
                </th>
                <th>
                    Price
                </th>
                <th>
                    Status
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in draftItems %}
                <tr>
                    <td>
                        {% set releasePage = ['https://www.discogs.com/', item.release.description |slug, '/release/', item.release.id] | join %}
                        <a href="{{ releasePage }}" title="Discogs Release Page" target="_blank">{{ item.release.id }}</a>
                    </td>
                    <td>
                        {{ item.release.catalog_number }}
                    </td>
                    <td>
                            {{ item.release.artist }}
                    </td>
                    <td>
                        {{ item.release.title }}
                    </td>
                    <td>
                        {{ item.release.format }}
                    </td>
                    <td>
                        €{{ item.price.value | number_format }}
                    </td>
                    <td>
                        {{ item.status }}
                    </td>
                </tr>
            {% endfor %}
            {% for item in violationItems %}
                <tr>
                    <td>
                        {% set releasePage = ['https://www.discogs.com/', item.release.description |slug, '/release/', item.release.id] | join %}
                        <a href="{{ releasePage }}" title="Discogs Release Page" target="_blank">{{ item.release.id }}</a>
                    </td>
                    <td>
                        {{ item.release.catalog_number }}
                    </td>
                    <td>
                        {{ item.release.artist }}
                    </td>
                    <td>
                        {{ item.release.title }}
                    </td>
                    <td>
                        {{ item.release.format }}
                    </td>
                    <td>
                        €{{ item.price.value | number_format }}
                    </td>
                    <td>
                        {{ item.status }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{# TODO links for details on order, artist... #}
{# TODO what about the label ? #}
{# TODO manage Collection ? #}

