{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Collection{% endblock %}

{% block body %}
    <h4>
        {{ collection.pagination.items }} Items in my Collection
        <span class="collValue">
            (median value : {{ collectionValue.median |replace({',': ''}) | split('.') | first }})
        </span>
    </h4>
    <h6>Order by
        <a href="?sort=artist&sort_order={{ sortLink }}">Band - Artist</a> /
        <a href="?sort=title&sort_order={{ sortLink }}">Title</a> /
        <a href="?sort=catno&sort_order={{ sortLink }}">Catalog #</a> /
        <a href="?sort=label&sort_order={{ sortLink }}">Label</a> /
        <a href="?sort=year&sort_order={{ sortLink }}">Year</a>
    </h6>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Format
            </th>
            <th>
                Label
            </th>
            <th>
                CatNo
            </th>
            <th>
                Year
            </th>
            <th>
                Genres
            </th>
            <th>
                Styles
            </th>
        </tr>
        </thead>
        <tbody>
        {% for release in collection.releases %}
            {% set basic = release.basic_information %}
            <tr>
                <td>
                    {{basic.artists[0].name }}
                </td>
                <td>
                    {{ basic.title }}
                </td>
                <td>
                    {{ basic.formats[0].name }}
                    {% for description in basic.formats[0].descriptions %}
                        , {{ description }}
                    {% endfor %}
                </td>
                <td>
                    {{ basic.labels[0].name }}
                </td>
                <td>
                    {{ basic.labels[0].catno }}
                </td>
                <td>
                    {% if basic.year == 0 %}
                        unknown
                    {% else %}
                        {{ basic.year }}
                    {% endif %}
                </td>
                <td>
                    {% for genre in basic.genres %}
                        {{ genre }}
                    {% endfor %}
                </td>
                <td>
                    {% if basic.styles != null %}
                        {% for style in basic.styles %}
                            {{ style }}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if collection.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}

{% endblock %}
