<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %V3 - tests{% endblock %}
    </title>

    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/myStyle.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
                crossorigin="anonymous"></script>
    {% endblock %}

    <link href="{{ asset('img/technology.png') }}" rel="icon">

</head>

<body>

<div class="container-fluid">

    {% include 'inc/nav.html.twig' %}


    {% set base =  [app.request.baseUrl, '/'] | join() %}
    {% set previous =  app.request.headers.get('referer') %}
    {% set request =  app.request.requestUri %}


{#    {% set previouspaths =  previousrequest | slice() %}#}
{#    {% set previous =  previouspaths | slice('/', previouspaths | length) %}#}


    {% set route =  request | slice(base | length) %}


{#    {% set base =  app.request.baseUrl %}#}
{#    {% if clic and clic == 'search' and clic != previous %}#}

{#        {% include 'inc/searchform.html.twig' %}#}
{#    {% else %}#}

        {% include 'inc/searchicon.html.twig' %}
{#    {% endif %}#}
    {% for label,    messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main class="container-fluid">
        <br>
        <p>previous : {{ previous }}</p>
        <p>route : {{ route }}</p>


        {% block body %}

        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            &copy;<a href="mailto:tlize@tristanlize.fr">tlize</a> {{ "now" | date("Y") }}
        {% endblock %}
    </footer>

</div>

</body>
</html>
