{% extends 'base.html.twig' %}

{% block body %}

    <h4>Order # {{ order.id }}</h4>
    <h6>
        By {{ order.buyer.username }}
    </h6>
    <h6>
        {{ order.shipping_address }}
    </h6>
    <h6>
        on {{ order.created | date("d-m-Y") }}
    </h6>
    {% if order.items | length == 1 %}
        {% set item = order.items[0] %}
        {% include 'inc/orderitemdescription.html.twig' %}
    {% else %}
        <ul>
            {% for item in order.items %}
                <li>
                    {% include 'inc/orderitemdescription.html.twig' %}
                </li>
            {% endfor %}
        </ul>
        <h5>
            Total : €{{ order.total.value | number_format }}
        </h5>
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} | Order {{ order.id }}
{% endblock %}
