{% extends 'base.html.twig' %}

{% block body %}

    <h4>Order # {{ order.orderNum }}</h4>
    {% if order.orderItems | length == 1 %}
        <h5>
            {{ order.orderItems[0].description }} : €{{ order.orderItems[0].itemPrice | number_format }}
        </h5>
    {% else %}
        <ul>
            {% for orderItem in order.orderItems %}
                {% set descriptionSplit = orderItem.description | split(' - ') %}
                {% set itemArtist = descriptionSplit[0] %}
                {% set itemTitleAndFormat = descriptionSplit[1] %}
                <li>
                    <h5>
                        <a href="{{ path('artist_detail', {'artist': itemArtist}) }}">
                            {{ itemArtist | raw }}
                        </a>
                        - {{ itemTitleAndFormat}} : €{{ orderItem.itemPrice | number_format }}
                    </h5>
                </li>
            {% endfor %}
        </ul>
        <h5>
            Total : €{{ order.total | number_format }}
        </h5>
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} | Order {{ order.orderNum }}
{% endblock %}

