{% extends 'base.html.twig' %}

{% block body %}

    <h4>Order # {{ order.id }}</h4>
    <h6>
        By {{ order.buyer.username }} on {{ order.created | date("d-m-Y") }}
    </h6>
    {% if order.items | length == 1 %}
        {% set item = order.items[0] %}

        <h5>
            {% include 'item/detail.html.twig' %}
        </h5>

    {% else %}
        <ul>
            {% for item in order.items %}
               <li>
                   <h5>
                       {% include 'item/detail.html.twig' %}
                   </h5>
                </li>
            {% endfor %}
        </ul>
        <h5>
            Total : €{{ order.total.value | number_format }}
        </h5>
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} | Order {{ order.id }}
{% endblock %}

{# TODO buyer country #}