{% extends 'base.html.twig' %}

{% block body %}

    <h4>Order # {{ order.orderNum }}</h4>
    {% if order.nbItems == 1 %}
        <h5>
            <a href="{{ path('artist_detail', {'artist': items[0][0].artist}) }}">
                {{ items[0][0].artist }}
            </a>
            - {{ items[0][0].title }} ({{ items[0][0].format }}),
            <a href="{{ path('label_detail', {'label': items[0][0].label}) }}">
                {{ items[0][0].label }}
            </a>
            : €{{ order.orderItems[0].itemPrice | number_format }}
        </h5>
    {% else %}
        <ul>
            {% for item in items %}
               <li>
                    <h5>
                        <a href="{{ path('artist_detail', {'artist': item[0].artist}) }}">
                            {{ item[0].artist }}
                        </a>
                        - {{ item[0].title }} ({{ item[0].format }}),
                        <a href="{{ path('label_detail', {'label': item[0].label}) }}">
                            {{ item[0].label }}
                        </a>
                        : €{{ item[0].price | number_format }}
                    </h5>
                </li>
            {% endfor %}
        </ul>
        <h5>
            Total : €{{ order.total | number_format }}
        </h5>
    {% endif %}

{% endblock %}

{% block title %}
    {{ parent() }} | Order {{ order.orderNum }}
{% endblock %}
