{% extends 'base.html.twig' %}

{% block body %}
    <h4>New order</h4>
    {{ form_start(orderForm) }}
    <br>
    <div class="row">
        <div class="col-lg-8 container-fluid">
            <div class="row">
                <div class="col-lg-2">
                    {{ form_label(orderForm.buyer) }}
                </div>
                <div class="col-lg-10">
                    {{ form_widget(orderForm.buyer) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2">
                    {{ form_label(orderForm.orderNum) }}
                </div>
                <div class="col-lg-10">
                    {{ form_widget(orderForm.orderNum) }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-2">
                    {{ form_label(orderForm.shippingAddress) }}
                </div>
                <div class="col-lg-10">
                    {{ form_widget(orderForm.shippingAddress) }}
                </div>
            </div>
            <br>
            <div class="row">
                <button class="btn btn-lg btn-primary" type="submit">Now pick the items</button>
            </div>
            <br>
        </div>
    </div>
    {{ form_end(orderForm) }}

{% endblock %}

{% block title %}{{ parent() }} | New Order{% endblock %}

