{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Orders{% endblock %}

{% block body %}
    <h4>
        All Orders
    </h4>

        {% for order in orders %}
            <h5>
                <a href="{{ path('order_detail', {'id' : order.id}) }}">
                    {{ order.orderNum }}
                </a>
                by {{ order.buyer }}
                (<a href="{{ path('country_detail', {'country' : order.country}) }}">{{ order.country }}</a>)
                on {{ order.orderDate | date("d-m-Y") }} :
                {% if order.orderItems | length == 1 %}
                    1 item
                {% else %}
                    {{ order.orderItems | length }} items
                {% endif %}
                , €{{ order.total | number_format }}
            </h5>
        {% endfor %}

    <div class="pagination">
        {{ knp_pagination_render(orders) }}
    </div>
{% endblock %}
