{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Orders{% endblock %}

{% block body %}
    <h4>All Orders</h4>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Order #</th>
            <th>Buyer</th>
            <th>Country</th>
            <th>Date</th>
            <th>Nb of Items</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td><a href="{{ path('order_detail', {'id' : order.id}) }}">{{ order.orderNum }}</a></td>
                <td>{{ order.buyer }}</td>
                <td><a href="">{{ order.country }}</a></td>
                <td>{{ order.orderDate | date("d-m-Y") }}</td>
                <td>{{ order.orderItems | length }}</td>
                <td>€{{ order.total | number_format }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

