{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Orders{% endblock %}

{% block body %}
    <h4>
        {{ orders.pagination.items }} Orders
    </h4>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                Order #
            </th>
            <th>
                Date
            </th>
            <th>
                Buyer
            </th>
            <th>
                Shipping Address
            </th>
            <th>
                Nb of Items
            </th>
            <th>
                Status
            </th>
            <th>
                Total
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders.orders %}
            <tr>
                <td>
                    {% include'inc/orderdescription.html.twig' with {'order' : order} %}
                </td>
                <td>
                    {{ order.created | date("d-m-Y") }}
                </td>
                <td>
                    {{ order.buyer.username }}
                </td>
                <td>
                    {% if order.shipping_address | length > 100 %}
                        {{ [order.shipping_address | slice(0,100), '...'] | join }}
                    {% else %}
                        {{ order.shipping_address }}
                    {% endif %}
                </td>
                <td>
                    {{ order.items | length }}
                </td>
                <td>
                    {{ order.status }}
                </td>
                <td>
                    €{{ order.total.value | number_format }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if orders.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}

{% endblock %}
