{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Orders{% endblock %}

{% block body %}
    <h4>
        {{ orders.pagination.items }} Orders
    </h4>
    <h6>Order by
        <a href="?sort=id&sort_order={{ sortLink }}">Order Id</a> /
        <a href="?sort=buyer&sort_order={{ sortLink }}">Buyer</a> /
        <a href="?sort=created&sort_order={{ sortLink }}">Order Date</a> /
        <a href="?sort=last_activity&sort_order={{ sortLink }}">Last Activity</a> /
    </h6>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                Order #
            </th>
            <th>
                Date
            </th>
            <th>
                Buyer
            </th>
            <th>
                Shipping Address
            </th>
            <th>
                Items
            </th>
            <th>
                Total
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders.orders %}
            <tr>
                <td>
                    <a href="{{ path('order_detail', {'id': order.id}) }}">
                        {{ order.id }}
                    </a>
                </td>
                <td>
                    {{ order.created | date("d-m-Y") }}
                </td>
                <td>
                    {{ order.buyer.username }}
                </td>
                <td>
                    {{ order.shipping_address }}
                </td>
                <td>
                    {{ order.items | length }}
                </td>
                <td>
                    €{{ order.total.value | number_format }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if orders.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}

{% endblock %}
