{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Orders{% endblock %}

{% block body %}
    <h4>
        {{ orders.pagination.items }} Orders
    </h4>
    <h6>Order by
        <a href="?sort=id&sort_order={{ sortLink }}">Order Id</a> /
        <a href="?sort=buyer&sort_order={{ sortLink }}">Buyer</a> /
        <a href="?sort=created&sort_order={{ sortLink }}">Order Date</a> /
        <a href="?sort=last_activity&sort_order={{ sortLink }}">Last Activity</a> /
    </h6>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                Order #
            </th>
            <th>
                Date
            </th>
            <th>
                Buyer
            </th>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <th>
                    Shipping Address
                </th>
            {% endif %}
            <th>
                Country
            </th>
            <th>
                Items
            </th>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <th>
                    Total
                </th>
            {% endif %}
            <th>
                Status
            </th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders.orders %}
            <tr>
                <td>
                    <a href="{{ path('order_detail', {'id': order.id}) }}">
                        {{ order.id }}
                    </a>
                </td>
                <td>
                    {{ order.created | date("d-m-Y") }}
                </td>
                <td>
                    {{ order.buyer.username }}
                </td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <td>
                        {{ order.shipping_address }}
                    </td>
                {% endif %}
                <td>
                    {% if orderCountries[order.id] is defined %}
                        {{ orderCountries[order.id] }}
                    {% else %}
                        {% if 'Cancelled' in order.status %}
                            not in DB
                        {% else %}
                            <a href="{{ path('order_db_create', {'id': order.id}) }}">set country ?</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ order.items | length }}
                </td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <td>
                        €{{ order.total.value | number_format }}
                    </td>
                {% endif %}
                {% if 'Cancelled' in order.status %}
                    <td class="cancelled">
                        {{ order.status }}
                    </td>
                {% else %}
                    <td>
                        {{ order.status }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if orders.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}

{% endblock %}
