{% extends 'base.html.twig' %}

{% block body %}
    <h4>
        {{ item.release.artist }}
        - {{ item.release.title }}
    </h4>
    <img src="{{ item.release.thumbnail }}" alt="{{ item.release.description }}">
    <h6><a class="itemInfo" id="releasePage" href="{{ release.uri }}" target="_blank">Discogs Page</a></h6>
    <h5>
        {{ item.release.format }}
    </h5>
    <h5>
        {{ release.labels[0].name }} - {{ item.release.catalog_number }}
    </h5>
    <h5>
        {% if release.year != 0 %}
            {{ release.year }},
        {% else %}
            year unknown,
        {% endif %}
        {% if release.country != 0 %}
            {{ release.country }}
        {% else %}
            country unknown
        {% endif %}
    </h5>
    {% if release.notes is defined and release.notes != '' %}
        <p>
            {{ release.notes }}
        </p>
    {% endif %}
    <h4>My Listing Item</h4>
    <p>
        {{ item.condition | split('(') | last | trim (')') }} (sleeve : {{ item.sleeve_condition | split('(') | last }}
        {% if item.comments != null %}
            - {{ item.comments }}
        {% endif %}
    </p>
    <p>
        release Id : {{ item.release.id }}
    </p>
    <p>
        listing Id : {{ item.id }}
    </p>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p>
            {{ item.status }} : €{{ item.price.value | number_format }}
            {% if item.status == 'For Sale' %}
                (suggested : €{{ priceSuggestion | number_format(2) }})
            {% endif %}
        </p>
    {% else %}
            {% if item.status == 'For Sale' %}
                {% set buyLink = ['https://www.discogs.com/sell/item/', item.id, '?ev=bp_img'] | join %}
                <p>
                    €{{ item.price.value | number_format }}
                </p>
                <p>
                     <a class="buyLink" href="{{ buyLink }}" target="_blank">Buy It Now !</a>
                </p>
            {% else %}
                <p>
                    {{ item.status }}
                </p>
            {% endif %}
    {% endif %}
    {% if item.status == 'For Sale' and is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="editPrice" href="{{ path('item_price', {'id': item.id}) }}" title="See Item Details">Edit Price</a>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ item.release.title }}
{% endblock %}

