{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | For Sale{% endblock %}

{% block body %}
    <h4><a href="{{ path('item_list') }}">All Items</a> / Items For Sale / <a href="{{ path('item_sold') }}">Sold items</a></h4>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Band / Artist</th>
                <th>Title</th>
                <th>Label</th>
                <th>Format</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ path('artist_detail', {'artist': item.artist}) }}">{{ item.artist }}</a></td>
                    <td><a href="{{ path('item_detail', {'id': item.id}) }}">{{ item.title }}</a></td>
                    <td><a href="{{ path('label_detail', {'label': item.label}) }}">{{ item.label }}</a></td>
                    <td>{{ item.format }}</td>
                    <td>€ {{ item.price | number_format}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}