{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | For Sale{% endblock %}

{% block body %}
    <h4>
        {{ items.pagination.items }} Items For Sale
    </h4>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th>
                Discogs Id
            </th>
            <th>
                Band / Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Catalog #
            </th>
            <th>
                Format
            </th>
            <th>
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items.listings %}
            <tr>
                <td>
                    {% set releasePage = ['https://www.discogs.com/', item.release.description |slug, '/release/', item.release.id] | join %}
                    <a href="{{ releasePage }}" title="Discogs Release Page" target="_blank">{{ item.release.id }}</a>
                </td>
                <td>
                    {{ item.release.artist }}
                </td>
                <td>
                    {{ item.release.title }}
                </td>
                <td>
                    {{ item.release.catalog_number }}
                </td>
                <td>
                    {{ item.release.format }}
                </td>
                <td>
                    €{{ item.price.value | number_format }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if items.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}
{% endblock %}

