{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Items in new order{% endblock %}

{% block body %}
    <h4>
        Pick items for new order
    </h4>
    <form id="setSold" action="{{ path('order_new') }}" method="POST">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
            <tr>
                <th>
                    Listing id
                </th>
                <th>
                    Band / Artist
                </th>
                <th>
                    Title
                </th>
                <th>
                    Label
                </th>
                <th>
                    Format
                </th>
                <th>
                    Price
                </th>
                <th>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>
                        {{ item.listingId }}
                    </td>
                    <td>
                        {{ item.artist }}
                    </td>
                    <td>
                        {{ item.title }}
                    </td>
                    <td>
                        {{ item.label }}
                    </td>
                    <td>
                        {{ item.format }}
                    </td>
                    <td>
                        €{{ item.price | number_format}}
                    </td>
                    <td><label>
                            <input form="setSold" type="checkbox" name="id[]"
                                   value="{{ item.id }}" title="set Sold"/>
                        </label>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </form>

    {% block footer %}
        <input form="setSold" type="submit" value="Set Sold">
        {{ parent() }}
    {% endblock %}


{% endblock %}