{% extends 'base.html.twig' %}

{% block body %}
    <h4>
        {{ item.release.artist }}
        - {{ item.release.title }}
    </h4>
    <img src="{{ item.release.thumbnail }}" alt="{{ item.release.description }}">
    <h6><a class="t_small" id="releasePage" href="{{ release.uri }}" target="_blank">Discogs Page</a></h6>
    <h5>
        {{ item.release.format }}
    </h5>
    <h5>
        {{ release.labels[0].name }} - {{ item.release.catalog_number }}
    </h5>
    <h5>
        {% if release.year != 0 %}
            {{ release.year }}
        {% endif %}
        {% if release.country != 0 %}
            ({{ release.country }})
        {% endif %}
    </h5>
    {% if release.notes is defined and release.notes != '' %}
        <p>
            {{ release.notes }}
        </p>
    {% endif %}
    <h4>My Listing Item</h4>
    <p>
        {{ item.condition | split('(') | last | trim (')') }} (sleeve : {{ item.sleeve_condition | split('(') | last }}
        {% if item.comments != null %}
            - {{ item.comments }}
        {% endif %}
    </p>
    <p>
        release Id : {{ item.release.id }}
    </p>
    <p>
        listing Id : {{ item.id }}
    </p>
    <p>
        For Sale : €{{ item.price.value | number_format }} (suggested : €{{ priceSuggestion | number_format(2) }})
    </p>
    {{ form_start(priceForm) }}
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    {{ form_label(priceForm.price) }}
                </div>
                <div class="col-lg-8">
                    {{ form_widget(priceForm.price) }}
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Update Price</button>
    {{ form_end(priceForm) }}
{% endblock %}

{% block title %}
    {{ parent() }} | {{ item.release.title }}
{% endblock %}

