{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Sold{% endblock %}

{% block body %}
    <h4>
        {{ items.pagination.items }} Sold Items
    </h4>
    <h6>Order by
        <a href="?sort=artist&sort_order={{ sortLink }}">Band - Artist</a> /
        <a href="?sort=item&sort_order={{ sortLink }}">Title</a> /
        <a href="?sort=catno&sort_order={{ sortLink }}">Catalog #</a> /
        <a href="?sort=label&sort_order={{ sortLink }}">Label</a> /
        <a href="?sort=price&sort_order={{ sortLink }}">Price</a>
    </h6>
    <table class="table table-hover table-striped">
        <thead class="thead-dark">
        <tr>
            <th></th>
            <th>
                Listing Id
            </th>
            <th>
                Band / Artist
            </th>
            <th>
                Title
            </th>
            <th>
                Catalog #
            </th>
            <th>
                Format
            </th>
            <th>
                Year
            </th>
            <th>
                Price
            </th>
        </tr>
        </thead>
        <tbody>
        {% for item in items.listings %}
            <tr>
                <td>
                    <a href="{{ path('item_detail', {'id': item.id}) }}" title="See Item Details"><img src="{{ item.release.thumbnail }}" alt="{{ item.release.description }}"></a>
                </td>
                <td>
                    {{ item.id }}
                </td>
                <td>
                    {{ item.release.artist }}
                </td>
                <td>
                    {{ item.release.title }}
                </td>
                <td>
                    {{ item.release.catalog_number }}
                </td>
                <td>
                    {{ item.release.format }}
                </td>
                <td>
                    {% if item.release.year == 0 %}
                        unknown
                    {% else %}
                        {{ item.release.year }}
                    {% endif %}
                </td>
                <td>
                    €{{ item.price.value | number_format }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if items.pagination.pages > 1 %}
        {% include 'inc/pagination.html.twig' with {'pagination' : pagination}  %}
    {% endif %}
{% endblock %}

