<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark row">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">
                   <div>Home</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{path('item_list') }}">
                    Inventory
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{path('order_list') }}">
                    Orders
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{path('best_artists_list') }}">
                        Best bands / artists
                    </a>
                    <a class="dropdown-item" href="{{ path('best_labels_list') }}">
                        Best labels
                    </a>
                    <a class="dropdown-item" href="{{ path('best_countries_list') }}">
                        Best countries
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('item_add') }}">
                        New Item
                    </a>
                    <a class="dropdown-item" href="">
                        Update Price
                    </a>
                    <div class="dropdown-divider">
                    </div>
                    <a class="dropdown-item" href="">
                        All users
                    </a>
                </div>
            </li>
        </ul>
{#        <form class="d-flex" action="{{ path('items_new_order') }}">#}
{#            <button class="btn btn-primary" type="submit">#}
{#                New Order#}
{#            </button>#}
{#        </form>#}
        <div class="d-flex">
            <a class="emLink" href="{{ path('order_new') }}">New Order</a>
        </div>
    </div>
</nav>

