<nav id="myNavBar" class="navbar sticky-top navbar-expand navbar-dark bg-dark row">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ path('home') }}">
                    Home
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Orders
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link active" href="{{ path('order_list') }}">
                        All Orders
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="nav-link active" href="{{ path('order_new') }}">
                        New Order
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                    Inventory
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('item_for_sale') }}">
                        Items For Sale
                    </a>
                    <a class="dropdown-item" href="{{ path('item_sold') }}">
                        Sold Items
                    </a>
                    <a class="dropdown-item" href="{{ path('item_list') }}">
                        All Items
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('item_add') }}">
                        Add an Item
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                        Ranks
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{{ path('best_artists_list') }}">
                        Bands / Artists
                    </a>
                    <a class="dropdown-item" href="{{ path('best_labels_list') }}">
                        Labels
                    </a>
                    <a class="dropdown-item" href="{{ path('best_countries_list') }}">
                        Countries
                    </a>

                </div>
            </li>
        </ul>
        <div class="nav-item d-flex">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="nav-link active" aria-current="page" href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a class="nav-link active" aria-current="page" href="{{ path('login') }}">Login</a>
                <a class="nav-link active" aria-current="page" href="{{ path('user_register') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

