<h5>
    <details>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <summary>{{ item.release.description }} : €{{ item.price.value | number_format }}</summary>
        {% else %}
            <summary>{{ item.release.description }}</summary>
        {% endif %}
        <div class="t_small">
            <p>Media Condition : {{ item.media_condition }}</p>
            {% if item.sleeve_condition != null %}
                <p>
                    Sleeve Condition : {{ item.sleeve_condition }}
                </p>
            {% endif %}
            {% if item.condition_comments != null %}
                <p>
                    {{ item.condition_comments | raw }}
                </p>
            {% endif %}
            <p>
                listing Id : <a href="{{ path('item_detail', {'id': item.id}) }}" title="Item Details">{{ item.id }}</a>

            </p>
            {% set releasePage = ['https://www.discogs.com/', item.release.description |slug, '/release/', item.release.id] | join %}
            <p>
                release Id : <a href="{{ releasePage }}" title="Discogs Release Page" target="_blank">{{ item.release.id }}</a>
            </p>
        </div>
    </details>
</h5>
