{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(searchForm) }}
    <br>
    <div class="row">
        <div class="col-lg-6 container-fluid">
            <div class="container-fluid">
                <h4>Must answer me these questions three</h4>
            </div>
            <div class="row">
                {{ form_widget(searchForm.name) }}
            </div>
            <br>
            <div class="row">
                {{ form_widget(searchForm.quest) }}
            </div>
            <br>
            <div class="row">
                {{ form_widget(searchForm.color) }}
            </div>
            <br>
            <div class="row">
                <button class="btn btn-lg btn-primary" type="submit" value="quest">Right, off you go</button>
            </div>
            <br>
        </div>
    </div>
    {{ form_end(searchForm) }}

{% endblock %}

{% block title %}
    {{ parent() }} | Your Quest
{% endblock %}

